@charset "utf-8";
/* CSS Document */
/**
 *
 * @Author: Harish Kumar 
 * @Date Created: 23/09/2016 
**/
.fixed-header .logo {width:auto; color:#fff; font-size:24px; position:relative; top:0; float:left;}
.logo {width:auto; color:#fff; font-size:24px; position:absolute; top:15px;}
.logo img{width:165px;}
.fixed-header .logo img{width:105px; margin:3px 0 0 0;}
.header-banner { width: 100%; padding:0; float:left;}
.fixed-header { position: fixed; top:0; left:0; width: 100%; background:#000 !important;}
.nav-bg { width:100%; height:75px; postion:fixed; z-index:10; padding:0 15px; float:left;}
.banner-relative { float:left; width:100%; position:relative;}
.banner-absolute { position: absolute;top: 0; left: 0; z-index: 99999; width: 100%; background-image: url(../images/header_bg_internal.png);
   background-size:cover; background-color: rgba(0, 0, 0, 0.37); }
/*
Top Part
*/
.logo-bg{float:left;  padding:15px;}
.top-icon-bg { float:left; width:auto; margin-right:50px; color:#fff; font-size:16px; }
.top-icon-bg:last-child { margin-right:0px; }
.top-icon-left { float:left; width:auto; margin-right:10px; }
.top-icon-right { overflow:hidden; position:relative; }
.top-icon-bg-gray { color:#6b6b6b; }
.login-bg { float:right; width:auto; background-image:url(../images/sign-up-bg.png); background-size:cover; padding:5px 15px; margin:5px 0 0 0}
.login-icon-left { float:left; width:auto; margin-right:10px; }
.login-icon-right { overflow:hidden; position:relative; cursor:pointer;}
.login-icon-right a{ color: #fff; font-size: 16px;}
.login-icon-right a:hover{text-decoration:none;}
.login-icon-bg { float: left; width: auto; margin: 8px 15px 0 0; color: #fff; font-size: 16px; padding: 0 15px 0 0; border-right: 2px solid #afafaf; }
.login-icon-bg:last-child{margin: 8px 0 0 0; padding: 0 0 0 0; border-right:0; }
.login-icon-bg:last-child { margin-right:0; }
/**/

.welcome-gray { background:#f2f2f2; padding:50px 0; position:relative; }
.welcome-gray h1 { float:left; width:100%; font-size:36px; text-align:center; margin:0 0 15px 0; color:#4f4a4a; }
.welcome-gray p { float:left; width:100%; font-size:18px; text-align:center; margin:0; color:#4f4a4a; line-height:36px; }
.welcome-left { position:absolute; left:0; top:0; }
.welcome-right { position:absolute; right:0; top:0; }
/*Tell me more*/
.tell-more-bg { background-image:url(../images/tell-me-more-bg.png); background-size:cover; min-height:490px; float:left; width:100%; margin:0; }
.tell-me-headingbg { background-image:url(../images/tell-me-headingbg.png); background-size:100%; float:left; width:100%; background-repeat:repeat-y; margin:40px 0 20px; min-height:45px; font-size:36px; color:#fff; text-align:center; }
.tell-more-bg p { color:#7f7f7f; width:100%; float:left; width:100%; font-size:18px; text-align:center; margin:0 0 20px 0; line-height:36px; }
.tell-me-ul { float:left; width:100%; }
.tell-me-ul ul { margin:0; padding:0; float:left; width:100%; display:table; }
.tell-me-ul ul li { display:table-cell; position:relative; padding:0 30px; border-right:1px solid #9dca4c; vertical-align:top }
.tell-me-ul ul li:last-child { border-right:0; }
.tell-box { border:1px solid #414b26; float:left; width:100%; }
.tell-box-head { background:rgba(103, 139, 63, 0.72); float:left; width:100%; padding:15px; font-size:18px; color:#fff; text-align:center; }
.tell-box-body { background:rgba(0, 0, 0, 0.25); float:left; width:100%; padding:20px 35px; font-size:14px; color:#d1d1d1; text-align:center; line-height:36px; }
.down-icon { position:absolute; bottom:-22px; left:49%; }
/*Tell me more*/
.our-features-bg { background-image:url(../images/our-features-bg.png); background-size:cover; min-height:490px; float:left; width:100%; margin:0 0 0 0; }
.our-features-headingbg { background-image:url(../images/our-features-headingbg.png); background-size:100%; float:left; width:100%; background-repeat:repeat-y; margin:40px 0 20px; min-height:45px; font-size:36px; color:#4f4a4a; text-align:center; }
.our-features-bg p { color:#4b4b4b; width:100%; float:left; width:100%; font-size:18px; text-align:center; margin:0 0 20px 0; line-height:36px; }
.our-features-ul { float:left; width:100%; }
.our-features-ul ul { margin:0; padding:0; float:left; width:100%; display:table; }
.our-features-ul ul li { display:table-cell; position:relative; padding:0; border-right:1px solid #b7b2aa; vertical-align:top; }
.our-features-ul ul li:last-child { border-right:0; }
.our-features-box { float:left; width:100%; }
.our-features-box-head {float:left; width:100%; padding:7px; font-size:16px; color:#4f4a4a; text-align:center; background:url(../images/features-title-bg.png); background-repeat:repeat-x;}
.our-features-box-body { float:left; width:100%; padding:20px 35px; font-size:14px; color:#1c1c1c; text-align:center; line-height:36px; }
.our-features-icon { float:left; width:100%; text-align:center; margin:10px 0; }
.see-all-features { background-image: url(../images/see-all-features.png); background-size: 100%; background-repeat: repeat-y; font-size: 23px; color: #fff; text-align: center; display: inline-block; padding: 15px 20px; margin: 20px; }

/**/
.our-clients-bg { background-image:url(../images/cliente-bg.png); background-size:cover; min-height:436px; float:left; width:100%; margin:0 0 0 0; }
.our-clients-bg h1 { font-family: inherit; font-weight: 500; color: #c1baba; margin-top: 45px; margin-bottom: 35px; }

/* Sign UP Bg*/
.sign-up-bg{ float:left; width:100%; height:80px; text-align:center; font-size:30px; color:#fff; margin:15px 0; padding:20px; position:relative;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#507e1a+0,8db941+50,507e1a+100 */
background: #507e1a; /* Old browsers */
background: -moz-linear-gradient(left,  #507e1a 0%, #8db941 50%, #507e1a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #507e1a 0%,#8db941 50%,#507e1a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #507e1a 0%,#8db941 50%,#507e1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#507e1a', endColorstr='#507e1a',GradientType=1 ); /* IE6-9 */
}
.sign-up-bg a{color:#fff;} 
.sign-up-absolute-span { position: absolute; top: -54px; z-index: 9; width: 100%; text-align: center; left: 0; }
.sign-up-absolute-span img{ display:inline-block;}
.sign-up-absolute { text-align: center; float: left; position: relative; width: 100%; }
.ribbon-left { position: absolute; left: 0; z-index: 999; background-image: url(../images/ribbon-strip-left.png); background-repeat: no-repeat; background-size: cover; width: 422px; height: 57px; font-size:17px; color: #fff; padding:11px 30px 0px;top:138px; }
.ribbon-left a{color:#fff;}
.ribbon-left a:hover { text-decoration:none;}
.ribbon-right { position: absolute; right: 0; z-index: 999; background-image: url(../images/ribbon-strip-right.png); background-repeat: no-repeat; background-size: cover; width: 422px; height: 57px; font-size: 16px; color: #fff; padding:11px 25px 11px 65px; top:138px; }
.ribbon-right a{color:#fff;}
.ribbon-right a:hover { text-decoration:none;}
.relative{position:relative; }

/**/
.footer-bg { background-image:url(../images/our-features-bg.png); background-size:cover; min-height:490px; float:left; width:100%; margin:0 0 0 0; padding:70px 0 30px; }
.footer-bg-left { display:table-cell; width:600px; }
.footer-bg-right { position: relative; display:table-cell; background: #cacaca; padding: 5px; margin-bottom: 15px; vertical-align:top;}
.footer-bg-right-absolute { position: absolute; left:0; top: -32px; padding:8px 25px 5px 16px; color: #fff; font-size: 18px; 
background: #507e1a; /* Old browsers */
background: -moz-linear-gradient(left,  #507e1a 0%, #8db941 50%, #507e1a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #507e1a 0%,#8db941 50%,#507e1a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #507e1a 0%,#8db941 50%,#507e1a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#507e1a', endColorstr='#507e1a',GradientType=1 ); /* IE6-9 */
}
.footer-bg-left-top { float:left; width:100%; }
.footer-bg-left-top h1 { float: left; width: 100%; font-size: 24px; margin: 0 0 15px 0; color: #4f4a4a; font-weight: bold; text-align: center; }
.google-app { float:left; width:auto; margin:0 50px 0 0 }
.google-app:nth-child(3) {margin:0 0 0 0 }
.footer-bg-left-bottom { float:left; width:100%; margin:30px 0 0 0; }
.footer-bg-left-bottom-left { float:left; width:300px; background-image:url(../images/coordz-footer-bg.png); background-size:cover; min-height:223px; }
.footer-bg-left-bottom-left-head { background-image: url(../images/footer-coordz-bg.png); font-size:46px; font-family: pristina; color: #9dcf47; text-align: center; background-size: cover;}
.footer-bg-left-bottom-left-body { float:left; width:100%; padding:15px; line-height:30px; color:#fff; text-align:center; }
.footer-bg-left-bottom-right { position:relative; overflow:hidden; }
.footer-bg-left-bottom-right ul { margin:0; padding:0; width:100%; display:table; }
.footer-bg-left-bottom-right ul li { margin: 0; padding: 0 30px; display: table-cell;border-right: 2px solid #544e4f; width: 50%; }
.footer-bg-left-bottom-right ul li:last-child { border-right: 0 }
.footer-bg-left-bottom-right ul li h1 { float: left; width: 100%; font-size:30px; text-align: left; margin: 0 0 15px 0; color: #151a35; text-transform: uppercase; }
.footer-bg-left-bottom-right ul li p { float: left; width: 100%; font-size: 20px; text-align: left; margin: 0; color: #4f4a4a; line-height: 35px; }
.footer-bg-left-bottom-right ul li p a{color:#2b325c;}
.footer-bg-left-bottom-right ul li p a:hover{color:#668d22;}
.gallery-repeat { float:left; width:50%; padding:5px; }
.gallery-repeat img { width:100%; height:170px; border-top:5px solid #000; border-bottom:5px solid #000; }
.copy-right-left { float:left; width:auto; font-size:14px }
.copy-right-right { float:right; float:right; }
.social-icon-bottom { float:left; width:auto; margin-right:10px; }
.copy-right-bg { border-top:2px solid #97c745; float:left; width:100%; position:relative; padding-top:8px; margin-top:10px;}
.see-more { position: absolute; right: 0; padding: 6px 20px; font-size: 24px; text-align: center; background-image: url(../images/see-all-features.png); background-size: 100%; background-repeat: repeat-y; bottom: 35px; color: #fff; }
.see-more a{color:#fff;}


/* Slider Form */
.slider-form{position:absolute; width:630px; /*height:390px;*/  margin:auto; z-index:9999; left:27%; top:202px; background-image:url(../images/form-bg.png); background-size:cover; padding:47px 52px 20px 40px;}
.sign-bg-form{position:absolute; width:630px; /*height:390px;*/  margin:auto; z-index:9999; left:27%; top:202px; background-image:url(../images/business-sign-bg.png); background-size:cover; padding:20px 20px 10px;background-color: rgba(4, 4, 4, 0.34);}
.slider-repeat{float:left; width:100%; margin:0 0 10px 0;}
.all-ready{float:left; width:100%; font-size:16px; text-align:center; color:#fff;margin: 8px 0 0 0;}
.slider-repeat input { float: left; width: 100%; margin: 0 0 10px 0; background-image: url(../images/input-bg.png); background-repeat: repeat; height: 40px; font-size: 15px; border: 1px solid #6a6868; background: transparent; padding: 5px 12px; color: #fff; }
.sign-up{font-size:18px; padding:10px 40px; color:#fff; outline:0; border:0; display:inline-block; margin-top:8px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b8d1d+0,8db941+52,5b8d1d+100 */
background: #5b8d1d; /* Old browsers */
background: -moz-linear-gradient(left,  #5b8d1d 0%, #8db941 52%, #5b8d1d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #5b8d1d 0%,#8db941 52%,#5b8d1d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #5b8d1d 0%,#8db941 52%,#5b8d1d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b8d1d', endColorstr='#5b8d1d',GradientType=1 ); /* IE6-9 */
}
.custom-select{float:left; width:200px; margin:0 15px 0 0}

.select { position: relative; display: block; margin: 0 auto; width: 100%; max-width:100%; color: #cccccc; vertical-align: middle; text-align: left; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; }
.select .placeholder { position: relative; display: block; background-color: #fff; color:#696767; z-index: 1; padding:5px 10px; border-radius:5px; cursor: pointer; border:1px solid #cadbe3; }
.select .placeholder:hover { background: #fff; }
.select .placeholder:after { position: absolute; right: 5px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); font-family: 'FontAwesome'; content: '\f107'; z-index: 10; border-left: 1px solid #6a6868; padding: 4px 6px 6px 11px; font-size: 24px; line-height: 30px; }
.select.is-open .placeholder:after { content: '\f106'; color:#7dc04c;}
.select.is-open ul { display: block; }
.select.select--white .placeholder { background:transparent; font-size:15px; color: #999; text-transform:uppercase; border-radius:0px; border-color:#6a6868; height:40px; padding:8px }
.select.select--white .placeholder:hover { background: transparent; }
.select ul { display: none; position: absolute; overflow: hidden; overflow-y: auto; width: 100%; background: #fff; border-radius: 2px; top: 100%; left: 0; list-style: none; margin: -3px 0 0 0; padding: 0; z-index: 100; max-height: 120px; border:1px solid #cadbe3;}
.select ul li { display: block; text-align: left; padding:5px 10px; color: #999; cursor: pointer; }
.select ul li:hover { background: #7dc04c; color: #fff; }

/* Your Coordz Experience */
#accordion .panel{background-color: transparent;border-color: transparent; margin-bottom:20px;}
#accordion .panel-default > .panel-heading{background-color: transparent;}
#accordion .panel-body{padding:15px 15px 15px 50px;}
.panel-group .panel { border-radius: 0; box-shadow: none; border-color: #EEEEEE; }
.panel-group .panel-default > .panel-heading { padding: 0; border-radius: 0; color: #212121; background-color: #FAFAFA; border-color: #EEEEEE; }
.panel-group .panel-title { font-size: 14px; }
.panel-group .panel-title > a { display: block; padding: 15px; text-decoration: none; }
.more-less { float: right;}
.plus-mid a{color: #e4534f;}
.plus-mid a:focus{color:#9dcf47;}
.panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color:transparent; }
.panel-default > .panel-heading > .panel-title { padding:4px 10px 4px 45px; font-size:26px; color: #ffffff; position: relative; }
.plus-mid { font-size:36px; position: absolute; left: 0; top: 0; padding: 0; }
.qus-mid { position: absolute; left: 0; top: 0; padding: 9px; font-size: 23px; }
.faq-question-bg { float: left; width: 100%; margin-bottom: 10px; border-bottom: 1px solid #f5f5f5; padding-bottom: 10px; }
.faq-question-bg:last-child { border-bottom:0; padding-bottom:0; margin-bottom:0; }
.faq-question-bg-left { float: left; width: 30px; height: 30px; border-radius: 100%; text-align: center; font-size: 16px; margin-right: 10px; background: #e4534f; color: #fff; padding-top: 3px; }
.faq-question-bg-right { position: relative; overflow: hidden; margin-top: 1px; font-size: 17px; color: #8c8c8c; }
.accordion-top-bg{float:left; width:100%; padding:0 20px 20px 20px; font-size:17px;color: #8c8c8c; text-align:center;}
.accordion-mid-bg{float:left; width:100%; padding:50px 0; border: 15px solid rgba(121, 121, 121, 0.21);}

/* Login Page */
.login-popup{ background-image:url(../images/login-body-bg.png); background-size:cover;border-bottom:0px;}
.login-popup-head { background-image: url(../images/login-head-bg.png); background-size: cover; float: left; width: 100%; padding: 10px 15px; }
.login-head-padding{padding:5px; border-bottom:0px;}
.login-padding{padding:0px 150px;}
.sign-padding{padding:0px 30px;}
.login-repeat{float:left; width:100%; margin:0 0 15px 0;}
.login-repeat-l{float:left; width:auto;}
.login-repeat-r{overflow:hidden; position:relative; font-size:14px; text-align:right; color:#9a9a9a;}

.login-repeat input{ padding:10px; height:40px; width:100%; border:1px solid #696e72; color:#9a9a9a;
background: #242e33; /* Old browsers */
background: -moz-linear-gradient(left,  #242e33 0%, #061218 50%, #242e34 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #242e33 0%,#061218 50%,#242e34 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #242e33 0%,#061218 50%,#242e34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242e33', endColorstr='#242e34',GradientType=1 ); /* IE6-9 */
}

.sign-repeat{float:left; width:100%;}
.sign-repeat-l{float:left; width:50%; padding:0 20px 0 0;margin:0 0 15px 0;}
.sign-repeat-l:last-child{ padding:0 0 0 0;}
.sign-repeat-l input{ padding:10px; height:40px; width:100%; border:1px solid #696e72;color:#9a9a9a;
background: #242e33; /* Old browsers */
background: -moz-linear-gradient(left,  #242e33 0%, #061218 50%, #242e34 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #242e33 0%,#061218 50%,#242e34 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #242e33 0%,#061218 50%,#242e34 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242e33', endColorstr='#242e34',GradientType=1 ); /* IE6-9 */
}

/* Custom Style Check Box */
.control-group {float: left;width: 100%;padding:10px 0;}
.control {position: relative;padding-left:30px;margin-bottom: 0;cursor: pointer;margin-top:0;font-weight:normal;font-size: 14px; width:100%; color:#9a9a9a;}
.control input { position: absolute; z-index: -1; opacity: 0; }
.control__indicator {position: absolute;top: 2px;left: 0;height: 20px;width: 20px;background:#132329; border:1px solid #ccc; border-radius:3px}
.control--radio .control__indicator { border-radius: 50%; }
.control input:checked ~ .control__indicator {background: #132329;}
.control input:disabled ~ .control__indicator {background: #e6e6e6;opacity: 0.6;pointer-events: none;}
.control__indicator:after { content: ''; position: absolute; display: none; }
.control input:checked ~ .control__indicator:after {display: block;}
.control--checkbox .control__indicator:after { left:2px; top:-1px;content: url(../images/check-icon.png);}
.control--checkbox input:disabled ~ .control__indicator:after {border-color: #7b7b7b;}
.control--radio .control__indicator:after {left: 6px;top: 6px;height: 6px;width: 6px;border-radius: 50%;background: #7dc04c;}
.control--radio input:disabled ~ .control__indicator:after {background: #7b7b7b;}
.control-group-checkbox{ float:left; width:100%; margin-bottom:10px; padding:5px 10px;}


/* Tab Css */
.form {}
.tab-group { list-style: none; padding: 0; margin: 0 0 0 0; }
.tab-group:after { content: ""; display: table; clear: both; }
.tab-group li a { display: block; text-decoration: none; color: #55585b; font-size: 26px; float: left; cursor: pointer;  -webkit-transition: .5s ease;transition: .5s ease;}
.tab-group li { float:left; width:100%;}
.tab-group li a:hover {color: #ffffff; }
.tab-group .active a {color:#add75a; }
.tab-content > div:last-child { display: none; }
.underline{ background-image:url(../images/login-line.png); background-repeat:repeat-x; height:30px;background-position: center left;} 
.underline  span{ background:#1b2a31; padding:5px; font-size:18px; color:#848688; line-height:29px;}
.close-1 { font-size: 18px !important; font-weight: normal; color: #add75a !important; position: absolute; right: -20px; padding: 6px 8px 8px 8px !important; top: -16px !important; background: #000 !important; border-radius: 50px; height: 35px; width: 35px; opacity: 1 !important; border: 2px solid #add75a !important; }


.cur_pnt{ cursor:pointer;}
.mrgn_top_15{ margin-top:15px;}

/* Find Supplier */
.breadcrumb-bg{ float:left; width:100%; background-image:url(../images/inner-header-bg.png); background-size:cover; padding-top:127px;}
.background-white{background:#fff;}
.find-supplier-bg{float:left; width:100%;}
.find-supplier-bg h1 { float: left; width: 100%; font-size: 24px; color: #fff; margin:15px 0 15px 0; }
.accordion-mid-bg-inner { float: left; width: 100%; padding: 20px 0; border: 15px solid rgba(121, 121, 121, 0.21); }




#accordion-inner .panel{background-color:#ffffff;border-color: transparent; margin-bottom:20px; border:0;border-radius: 5px;}
#accordion-inner .panel-default > .panel-heading{background-color:#9dcf47;border-radius: 5px 5px 0 0;}
#accordion-inner .panel-body{padding: 10px 15px 15px 15px;}
#accordion-inner .panel-group .panel { border-radius: 0; box-shadow: none; border-color: #EEEEEE; }
#accordion-inner .panel-group .panel-default > .panel-heading { padding: 0; border-radius: 0; color: #212121; background-color: #FAFAFA; border-color: #EEEEEE; }
#accordion-inner .panel-group .panel-title { font-size: 14px; }
#accordion-inner .panel-group .panel-title > a { display: block; padding: 15px; text-decoration: none; }
.more-less-inner { float: right;}
#accordion-inner .plus-mid-inner a{color: #fff;}
#accordion-inner .plus-mid-inner a:focus{color:#fff;}
#accordion-inner .panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color:transparent; }
#accordion-inner .panel-default > .panel-heading .panel-title { padding:10px 15px 10px 15px; font-size:20px; color: #ffffff; position: relative; line-height:27px;}
#accordion-inner .plus-mid-inner {font-size: 30px; position: absolute;  right: 15px; top: 9px;padding: 3px 3px; z-index: 9999;border: 1px solid #fff; text-align: center; }
.plus-mid-inner i { line-height: 21px; margin: 0; padding: 0; left: 0; vertical-align: top; }


.search-inner-category { width: 100%; background: #fff; min-height: 46px; display: table; border-radius: 5px; margin: 20px 0;}
.search-inner-cell-1 { display: table-cell; width: 250px;bakground: #ffffff; border-radius:0; }
.search-inner-cell-2 { display: table-cell; position: relative; }
.input-bg input {     width: 100%;outline: 0; border: 1px solid #9dcf47; padding: 10px 100px 5px 18px; min-height: 51px; font-size: 17px; border-radius: 0px; }
.input-bg input:-ms-input-placeholder{color:#ccc;}
.input-bg input:-mz-input-placeholder{color:#ccc;}
.input-bg input:-webkit-input-placeholder{color:#ccc;}

.search-inner-cell-3 { background-color: #fec00d; border-radius: 0px 5px 5px 0px; position: absolute; top: 0; right: 0; }
.search-icon { width: 60px; border: 0; padding: 10px; border-radius: 0px 5px 5px 0px; background-color:#9dcf47; outline: 0; font-size: 22px; color: #fff; }
.search-inner-cell-text {position: relative; border: 1px solid #9dcf47; padding: 11px 0px 10px 18px; font-size: 20px;  border-right: 0px;}
.search-inner-cell-text input { width: 100%; outline: 0; border: 1px solid #9dcf47; padding: 8px 100px 8px 18px; min-height: 51px; font-size: 22px; border-radius: 5px 0 0 5px; border-right: 0; }
.accordion-table{display:table; width:100%; margin:0 0 15px 0; padding:0;}
.accordion-table-cell{ display:table-cell; padding:0; margin:0; vertical-align:top;}
.accordion-table-cell:nth-child(1){width:520px;}
.accordion-table-cell:nth-child(2){padding-left:30px;margin-top: 10px;}
.accordion-table-left{float:left; width:auto; margin:10px 15px 10px 0;}
.accordion-table-right{position:relative; overflow:hidden;margin-top: 10px;}
.accordion-table-right-right{float:left; width:auto; margin-right:30px}
.accordion-tab-left{float:left; width:190px; margin:3px 0;}
.accordion-tab-left-bottom{float:left; width:140px; margin:3px 0;}
.accordion-tab-right{position:relative; overflow:hidden;}
.pound-icon {float: left; background: #fff; border: 1px solid #c9c9c9; padding:3px 12px; font-size: 16px; text-align: center; margin-right:8px; cursor:pointer;}
.pound-icon-active{background: #9dcf47; border: 1px solid #9dcf47; color:#fff;}
.pound-icon:last-child{margin-right:0;}
.pound-icon >i{font-weight:500;}
.pound-icon i{margin-right:3px;}
.pound-icon i:last-child{margin-right:0px;}
.postcode{width:100px; float:left;}

.suppliers-bg{float:left; width:100%; margin-bottom:15px; padding:15px; background:#fff;}
.suppliers-bg-left{width:110px; height:110px;line-height: 86px;padding: 0px;text-align: center;display:table-cell; vertical-align:middle; background:#fff; border-radius:100%; border:2px solid #ccc;float:left;}
.suppliers-bg-left img{max-width:100%; max-height:100%; border-radius:100%;    width: 110px; height: 110px;}
.suppliers-bg-right{display:table-cell;}
.suppliers-inner{width:50%; float:left;}

/*Designed By Harish Kumar 08-November-2016*/
.breadcrumb > li >a{color:#000;}
.panel-heading{position:relative;}
.select_btn{border:1px solid #fff;padding:5px 15px;display:inline;color:#fff; margin:0 5px;}
.select_btn:focus,.select_btn:hover{outline:none;cursor:pointer;color:#fff;text-decoration:none;}
.inline-block{display:inline-block;}
.row-fluid{    display: table; width: 100%; position: relative;}
.select_filter{    text-align: right; margin: 14px 0 0;}
.select_cat_left{width:70%;float:left;}
.select_cat_right{width:25%;float:left;}
.select_cat_icon{width:5%;float:right;}



.profile-userpic {
	position:relative;
}
.upload_img {
	position: absolute;
	top: 49%;
	left: 44%;
}
.upload_img >i {
	font-size: 35px !important;
	color: #6f6765;
}
.border-none {
	border:0px solid #fff !important;
}
.selected_services {
	position:relative;
	background: #fdfdfd;
	padding: 20px 20px;
	border: 1px solid #ececec;
}
.delete_btn {
	position:absolute;
	top:5px;
	right:5px;
}
.media {
	margin: 15px 0;
	padding:10px 10px 0;
	font-family:arial;
	border: 1px solid #dedede;
}
.media-heading {
	font-family:arial;
	display:inline;
}
.media-body {
	padding:10px;
}
.media-body a {
	text-decoration:none;
}
.media .label {
	padding:5px 10px;
}
.dp {
	border:2px solid #eee;
	transition: all 0.2s ease-in-out;
}
.dp:hover {
	border:2px solid #eee;
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
	-webkit-font-smoothing:antialiased;
}
.designation {
	color:#717171;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
}
.rating_review {
	float: right;
	color: #afafaf;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}
ul.rating-list {
	margin: 0 0 0 15px;
	padding: 0px;
	display:inline-block;
}
ul.rating-list li {
	list-style:none;
	display:inline-block;
}
ul.rating-list li i {
	color:#FC0;
	font-size:18px !important;
}
.sidebar-tags {
	float: left;
	padding: 0;
	margin: 4px 0;
}
.review_number {
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-ms-border-radius:100%;
	-o-border-radius:100%;
	padding:2px;
	color:#fff;
}
.rating_review + span {
	padding:0 10px;
}
.number_circle {
	float: left;
	width: 20px;
	height: 20px;
	margin-top: 9px;
}
.supplier_content {
	overflow:hidden;
}
.badge-light-green {
	background:#8BC34A;
}
.sidebar-tags li {
	color: #fff;
	font-size: 12px;
	padding: 3px 5px;
	background: #DB533B;
	margin: 0 2px 5px 0;
	display: inline-block;
}
.suppliers-bg-right .media{border:0px solid #fff;    margin-bottom: 0;
    margin-top: 0;}
.badge-red{background:#ee3b2e;}
.show-contact{    padding: 5px 15px;    font-family: 'Lato', sans-serif !important;
    font-size: 15px;
    border-radius: 0px;
    border: 1px solid #9c9999;
    background: transparent;
    font-weight: 500;  color: #908f8f;  margin: 4px 0 0;
	transition: 0.5s ease; -moz-transition: 0.5s ease; -webkit-transition: 0.5s ease; -ms-transition: 0.5s ease;
	}
	.show-contact:hover,.show-contact:focus{outline:none;cursor:pointer;background:#9DCF47;color:#fff;}
	ul.user_icon_listing{margin:0px;padding:0px;display:inline;}
	ul.user_icon_listing li{list-style:none;display:inline-block;margin:0 5px;border-radius:100%;-moz-border-radius:100%;-webkit-border-radius:100%;-ms-border-radius:100%;-o-border-radius:100%;width:40px;height:40px;border:2px solid #a9a9aa;line-height:30px;padding:2px;text-align:center;background:#fff;}
	ul.user_icon_listing li>a:hover{cursor:pointer;}
    .text-white{color:#fff !important;}
	.padding-none{padding:0px;}
	.contact-detail{ background-image: url(../images/contact-detail-bg.png);
    background-size: cover; border-bottom: 0px;}
	.text-gr{color:#ace347}
	.supplier_pagination{float:right;}
	.supplier_pagination .pagination > li:first-child > a,.supplier_pagination .pagination > li:first-child > span,.supplier_pagination .pagination > li:last-child > a, .pagination > li:last-child > span{border-radius:0px;}
	
	.supplier_pagination .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{ background-color: #9dd047;border-color: #9dd047;color:#fff;}
	.supplier_pagination .pagination > li > a, .pagination > li > span { color: #635a5a;}
	.text-danger1{color:#DB533B;}
	.text-prev{color:#989393;}
	.bg-darkgrey{background:#161616;}
	.suppliers-bg .media-heading > a{color:#333;}
	.suppliers-bg .designation >a{color:#898585;font-size:16px;}
	.sidebar-tags li.bg-view{background:transparent;}
	.sidebar-tags li.bg-view>a{ font-size: 13px; font-weight: 600;}
	.sidebar-tags li.bg-view>a:hover{cursor:pointer;}
	
#accordion-inner1 .panel{background-color:#ffffff;border-color: transparent; margin-bottom:20px; border:0;border-radius: 5px;}
#accordion-inner1 .panel-default > .panel-heading{background-color:#9dcf47;border-radius: 5px 5px 0 0;}
#accordion-inner1 .panel-body{padding: 10px 15px 15px 15px;}
#accordion-inner1 .panel-group .panel { border-radius: 0; box-shadow: none; border-color: #EEEEEE; }
#accordion-inner1 .panel-group .panel-default > .panel-heading { padding: 0; border-radius: 0; color: #212121; background-color: #FAFAFA; border-color: #EEEEEE; }
#accordion-inner1 .panel-group .panel-title { font-size: 14px; }
#accordion-inner1 .panel-group .panel-title > a { display: block; padding: 15px; text-decoration: none; }
.more-less-inner1 { float: right;}
#accordion-inner1 .plus-mid-inner a{color: #fff;}
#accordion-inner1 .plus-mid-inner a:focus{color:#fff;}
#accordion-inner1 .panel-default > .panel-heading + .panel-collapse > .panel-body { border-top-color:transparent; }
#accordion-inner1 .panel-default > .panel-heading .panel-title { padding:10px 15px 10px 15px; font-size:20px; color: #ffffff; position: relative; line-height:27px;}
#accordion-inner1 .plus-mid-inner {font-size: 30px; position: absolute;  right: 15px; top: 9px;padding: 3px 3px; z-index: 9999;border: 1px solid #fff; text-align: center; }
.show_category_list{width:100%;float:left;}
.feedback .form-control { border-width: 0 0 1px 0;  border-bottom-color: #eee; background: transparent; border-color: #89b63e;color:#aeadad;}

.feedback .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aeadad ;
}
.feedback .form-control::-moz-placeholder { /* Firefox 19+ */
  color:  #aeadad ;
}
.feedback .form-control::-ms-input-placeholder { /* IE 10+ */
  color:  #aeadad ;
}
.feedback .form-control::-moz-placeholder { /* Firefox 18- */
  color:  #aeadad ;
}


  .map_wraper{border:2px solid #CCC;margin-top:20px;}
  .linht_none{ line-height:0px;}
 .tell-more-bg.about p{font-size:15px;text-align:justify;line-height:30px;}
 .our-team-txt,.our-team-txt .border-bottom{position:relative;color: #cecece;}
.our-team-txt .border-bottom::after{position: absolute;
    width: 80px;  background: #608D24; height: 3px;  bottom: -8px; content: ''; float: left; left: 0;} 
	.border-color{border: 7px solid #eaeaea;}
	.margin-bottom-20{margin-bottom:20px;}
	.rating_wrap{float: left;padding:20px 0;    cursor: pointer;}
	.rating_number{float: left; color: #fff; font-size: 20px; line-height: 19px; vertical-align: middle; padding: 0; margin: 0;color:#FFCC00;}
	.reviews{    padding: 10px; color: #CCC;}
	.payment_add{text-align:right;    padding: 10px 0 0;}
	.payment_add >img{    display: inline-block;  margin: 20px 10px;}
	.devider_bottom{border-bottom:2px solid #444;}
	.review_devider{background:rgba(255, 255, 255, 0.1);padding: 20px 0 0px;}
	.text-days{    color: #c3c3c3;}
	.review_content h4{ margin: 0px; color: #db533b;font-weight: 500;}
	.scroll_div{ height: 360px; display:none;overflow-y: auto; overflow-x: hidden;}
	.company_logo{ padding:25px 25px 20px;display:block;text-align:center;}
	.company_left{    background:rgba(255, 255, 255, 0.96);padding: 0px 0 20px; margin: 60px 0 20px;}
	.company_name{color: #255ab0; text-shadow: 0px 0px 0px #255ab0;font-size: 17px;text-align: left;display: block;font-weight: 600;padding: 9px 25px;}
	.company_name >i{padding-right: 5px;}
	.company_number{    color: #23527c;font-size: 16px; text-align: left; font-weight: 500; padding: 9px 25px; background: #f1f1f1; margin-bottom: 2px;}
    .company_number a{font-size: 17px;}
    .company_number>i{color:#23527c;padding:0 5px 0 0;}
	.category{padding:20px 0;}
	.company_right{ background:rgba(255, 255, 255, 0.96);  float: left; width: 100%; padding: 0px 20px;    margin-bottom: 10px;}
    .company_right h3{color: #009688;  font-size: 18px;}
   .company_right h3 >i {padding: 5px 5px 0px 0;}
  	.margin-slide{margin:20px 0px;}
	.company_right .form-horizontal .control-label { text-align: left;    font-size: 15px;}
	.text-grey{color: #777777;}
	.fa-2xx{font-size:21px;}
    .form_devider{    border-bottom: 1px solid #e2e2e2;}
    .margin-bottom-10{margin-bottom:10px;}
    .service_slider .carousel-inner > .item > img{width:100%;height:185px;}
    
    .company_right .sidebar-tags li { font-size: 14px;}
    .img_effect{border: 7px double #ededed; width:320px;height:200px;}
    .img_effect:hover{border: 5px double #ededed;
    transform:rotate(360deg); width:200px;height:200px;
    border-radius:100%;
    -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
  }
 
  .hide-checkbox + label {
    float: left;
    background: #fff;
    border: 1px solid #c9c9c9;
    padding: 3px 12px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin-right: 8px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}
.hide-checkbox:checked + label {display: inline-block;  background: #9dcf47; border: 1px solid #9dcf47;color: #fff;}
.panel.transparent_bg{background: rgba(255, 255, 255, 0.1);border-color:#5a5a5a;}
.tell-more-bg.about p.middle_title{text-align: center; font-size: 21px;color: #d8d8d8; font-weight: 500;}
.our_team_slide .carousel-control .glyphicon-chevron-left{top:0px;right:0px;left:0px;}
.our_team_slide .carousel-control .glyphicon-chevron-right{top:0px;right:0px;}
.our_team_slide .carousel-control.left{  right: 0; width: 5%; position: absolute; left: auto; background: none; z-index: 1;}
.our_team_slide .carousel-control.right{background:none;}
.our_team_slide .carousel-indicators { bottom: -15px;}
.feedback{padding: 0px; float: left; width: 100%;}
.congrats_message_wrap{position:relative;text-center;padding:20px;color:#fff;font-size:16px;text-align:center;    margin-bottom: 20px;}
.congrats_message_wrap >h1{font-family: 'Lobster', cursive;}
.coming-msg-left{display:table-cell;}
.contact-title{padding:20px 0;}
.user_login{ width: auto; margin: 8px 15px 0 0;  color: #fff;  font-size: 16px;padding: 0 15px 0 0;display:block;}
.user_login+.dropdown-menu > li > a{padding: 8px 15px; border-bottom: 1px dashed #f5ecec;}
.user_login+.dropdown-menu > li > a:last-child{padding: 8px 15px; border-bottom: 0px dashed #f5ecec;}
.user_login+.dropdown-menu > li > a:hover{ background: #9DCF47;color:#fff}
ul.helping-list{margin:0px;padding:0px;}
ul.helping-list li{display:block;list-style:none;padding:10px;color:#fff; text-transform:uppercase}
ul.connect_address{margin:0px;padding:10px;}
ul.connect_address li{list-style:none;display:block;padding:4px;color: #cccccc; font-size: 16px; line-height: 28px;}
ul.connect_address li i{padding: 8px 15px 8px 0;    display: table-cell;color: #2196F3;}
ul.connect_address li .content{    display: table-cell;}
ul.connect_address li a{    color: #cccccc; font-size: 16px; }
.transparent_contact{    background: rgba(16, 16, 16, 0.5); padding: 0 20px;width: 100%;}

/*Date 29-11-2016*/
.CaptchaWrap { position: relative; }
.CaptchaTxtField { 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  display: block;  
  box-sizing: border-box;
}

#UserCaptchaCode { 
  padding: 15px 10px; 
  outline: none; 
  font-size: 16px; 
  font-weight: normal; 
  }
#CaptchaImageCode { 
  text-align:center;
  margin-top: 20px;
  padding: 0px 0;
  width: 250px;
  overflow: hidden;
}

.capcode { 
  font-size: 46px; 
  display: block; 
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
  cursor: default;
  letter-spacing: 1px;
  color: #ccc;
    width: 250px;
    height: 55px;
  font-weight: 100;
  font-style: italic;
}

.ReloadBtn { 
    border: 0px;
    outline: none;
    cursor: pointer;
    margin-top: 35px;
}
.upgrade-wrap{    margin: 20px 0 10px;}
.price_wrap{    padding: 30px;
    float: left;
    margin-bottom: 20px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);}
.price_plan {
    padding: 20px;
    border: 2px solid #ffffff;
    background: #7fa832;
    color: #fff;
    width: 130px;
    height: 130px;
    vertical-align: middle;
    margin: 0 auto;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    padding: 41px 0;
}
ul.feature_list{margin:0; padding: 0px; text-align: left;display: block;width: 100%;}
	ul.feature_list li{list-style:none;display:block;padding:6px 0;white-space: nowrap;}
	ul.feature_list li>i{color:#7fa832;}
	.bg-none{    background-color: transparent !important;}
	.panel-default  .panel-heading > .panel-title.feature_font{font-size: 16px;
    padding: 0 27px;
    color: #ccc;}
	.party_planner{border:1px solid #fff;padding:10px;}
	.party_planner .panel-heading{margin-bottom:20px;}

@media(min-width:768px){
	.congrats_message_wrap >h1 { font-size: 50px;}
        ul.bxslider1 li img{height:645px;}
	}

@media (max-width:320px){
		#CaptchaImageCode,.capcode,#CapCode {width: 100% !important;}
		}